doctype
html
  head
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimun-scale=1.0")
      meta(charset="utf-8")
      title #{title}
      include ./includes/head
  body
      include ./includes/header
      block content